<!-- Inclui head -->
<%- include("../../partials/header.ejs") %>

<body>

    <%- include("../../partials/home-navbar.ejs") %>


    <div class="container">

        <% result.articles.rows.forEach(article => { %>

        <div class="card">
            <div class="card-header">
                <h5><%= article.title %></h5>
                <p>Autor: <%= article.user.username %></p>
                <p>Categoria: <%= article.category.title %></p>
            </div>
            <div class="card-body">
                <a class="btn btn-success" href="/read/<%= article.slug %>">Ler artigo</a>
            </div>
        </div>

        <% }) %>

        <%- include("../../partials/pagination.ejs") %>

    </div>
</body>
<!-- Inclui footer -->
<%- include("../../partials/footer.ejs") %>