<!-- Inclui head -->
<%- include("../../partials/header.ejs") %>

<body>

    <%- include("../../partials/navbar.ejs") %>

    <div class="container">

        <hr>
        <h2>Categorias</h2>
        <a class="btn btn-success" href="/admin/categories/new">Criar nova categoria</a>
        <hr>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Título</th>
                    <th>Slug</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% categories.forEach(category => { %>

                <tr>
                    <td class="align-middle"><%= category.id %></td>
                    <td class="align-middle"><%= category.title %></td>
                    <td class="align-middle"><%= category.slug %></td>
                    <td class="align-middle" style="vertical-align: middle;">

                        <a href="/admin/categories/edit/<%= category.id %>" class="btn btn-warning">Editar</a>

                        <form method="POST" action="/categories/delete" style="display: inline;"
                            onsubmit="confirmDeletion(event, this)">
                            <input type="hidden" name="id" value="<%= category.id %>">
                            <button class="btn btn-danger">Deletar</button>
                        </form>
                    </td>
                </tr>

                <% }) %>

            </tbody>
        </table>

    </div>

</body>

<!-- Inclui head -->
<%- include("../../partials/footer.ejs") %>
<script>
    function confirmDeletion(event, form) {
        event.preventDefault()
        var decision = confirm("Você quer realmente deletar essa categoria?")
        if (decision) {
            form.submit()
        }
    }
</script>